@import "tailwindcss";

@theme {
  --color-primary: #10147F;
  --color-secondary: #18A4DC;
  --color-navy: #142574;
  --color-orange: #FF8C1A;
  --color-text: #222222;
  --color-muted: #6B6B6B;
}
.hero-swiper {
  width: 100%;
}

.hero-swiper .swiper-button-next,
.hero-swiper .swiper-button-prev {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.45);
}

.hero-swiper .swiper-button-next::after,
.hero-swiper .swiper-button-prev::after {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.hero-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: white;
  opacity: 0.7;
}

.hero-swiper .swiper-pagination-bullet-active {
  background: #18a4dc;
  opacity: 1;
}